.textarea-addon{
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 4px !important;
  border:1px solid #ccc !important;
}
textarea{
  border-top-left-radius:0px !important;
  border-top-right-radius:0px !important;
}

.input-group-addon {
    min-width:200px;// if you want width please write here //
    text-align:left;
}

.form-horizontal .control-label{
/* text-align:right; */
	color:#a58b5d;
	text-align:left;
}

.form-horizontal input, .form-horizontal textarea {
	background-color:#f8f3ed;
	border:1px solid #bd9b76;
	/*
	background-color:#fff2cc;
	border:1px solid #a58b5d;
	*/
}
