#viewbuttom {
	
}

.title_top span{
	/*color:orange;*/
}

.title_top .top {
	color:#bf8b0c;
}

.title_top .detail{
	color:#a86915;
}

.title_series {
	position:absolute;
	top:30px;
	width:100%;
	color:white;
}

.title_series span{
	/*display:block;
	width:95%;
	margin:20px;*/
	word-wrap:break-all;
	white-space:normal;
}

.title_series_button{
	padding:15px 30px;
	border:3px solid #b28b22;
	background-color:white;
	color:#b28b22;
}
.middle_link {
	position:absolute;
	top:80px;/*30*/
	width:100%;
}

.title_press {
	position:absolute;
	top:0px;
	/*top:3px;*/
	width:100%;
}

.title_press .item {
	display:block;
	margin:auto;
	align:center;
	position:relative;
	/*left:15%;*/
}


/*
.title_press .item li {
	width:100px;
}
*/
.lSSlideWrapper {
	left:0%;
	margin:auto;
	width:50%;
	/*width:200px;*/
}

.middle_link img{
	padding-top:30px;
}