.view {
	margin:0px;
	border:0px solid;
	box-shadow:0px 0px 0px;
}
.view .mask, .view .content{
	height:200px;
}
.second-effect:hover .mask {
	border:100px solid rgba(100,100,100,0.7);
	
	/* 125px */
}
.media-left { padding:0px;}
.media-body
{
	background:#ffdd99;
	padding:10px;
}

.media-body a{
	color : #703316;
}

.media-detail { height:auto;}
