
/*desktop*/
@media(min-width:1200px) {


}

/* laptop */
@media(min-width:600px) and (max-width:1200px){

}

/*mobile*/
@media(max-width:600px) {

	#navtree {display:none;}

	#listattribute label {
		width:100%;
	}

	#listattribute div {
		width:100%;
	}


}

.share-popup {
	float:right;
	position: relative;
	padding-right:5px;
	/*
	float:right;
	border:1px solid;
	height:32px;
	width: 130px;
	position: relative;*/
}

.share-popup2 img {
	position: absolute;
	left: 0;
	top: 0;
}

.share-popup span {
	z-index: 100;
	position: absolute;
	color: white;
	font-size: 10px;
	font-weight: bold;
	left: 40px;
	top: 3px;
}

ul{
	list-style: none outside none;
    padding-left: 0;
    margin: 0;
}

.lightslider-main {
	width: 100%;
}

.lightslider-main .item{
    margin-bottom: 90px;
}

.lightslider-title{
    color:white;
    background-color:orange;
    height:50px;
}

.lightslider-desc{
	float:left;

}
.lightslider-desc li {

	width:200px;
	/*
	text-align:left;
	list-style: none;
	min-width:100%;
	*/
}

.content-slider li{
    background-color: white;
    text-align: center;
    color: orange;
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
