#inter-slider img{
	height:150px;
	width:250px;
}

#inter-slider .lightslider-desc{
	width:250px;
	height:70px;
}

#local-slider img{
	height:150px;
	width:250px;
}

#local-slider .lightslider-desc{
	width:250px;
	height:70px;
}