body
{
	margin:0px;
}

.logobar{
	position: absolute;
    z-index: 2;
    top: 0px;
    height: 70px;
    margin: 0px auto 0 auto;
}

.menulist,.topbar {
	padding-top:30px;
}

.mainmenu{
	color:orange;
}

.submenu {
	color:red;
}


/*default*/


/* tables */

/* mobile */