body
{
	margin-top:80px;
}
/*override class*/
.navbar-header{
	padding-right:100px;
}

.logobar {
	position:absolute;
	top:20px;
	left:130px;
}

.languagebar {
	position:relative;
	right:0;
}

.iconbar{ padding-top:10px; }
.menulist,.topbar { padding-top:30px; }
.mainmenu{ color:orange; }
.submenu { color:red; padding-left:15px;}
.submenu ul { padding-left:15px; }


/*pc*/
@media(min-width:1200px) {
	#searchbar { background-color:transparent; }
}

/* tables */
@media(min-width:600px) and (max-width:1200px){

	#searchbar { background-color:red;  }
}
/* mobile */
@media(max-width:600px) {

	#searchbar { display:none; }

} 
