body
{
	margin-top:80px;
}

.logobar {
	position:absolute;
	top:5px;
	left:130px;
}

.languagebar {
	position:relative;
	right:0;
}
.contactseller {
padding:2px 33px;
margin-right:48px;
}

/* define height*/
.h100 { height:100px;}
.h150 { height:150px;}
.h200 { height:200px;}

.iconbar { padding-top:10px; }
.rowspan { padding-bottom:10px;}
.menulist,.topbar { padding-top:30px; }
.mainmenu{ color:orange; }
.submenu { color:red; padding-left:15px;}
.submenu ul { padding-left:15px; }

/*override media */
.media-center img { display:block; margin:0 auto;}
.media, { padding-bottom:5px; }
.media-detail { overflow:hidden;height:200px; }
.media-link , .media-link:hover { text-decoration: none; color:orange; }
.fluid {
	padding-bottom:5px;
	padding-left:5px;
}
/*-----custom control--------*/
iframe, object, embed{ max-width: 100%;}

label {
    white-space: normal; /*word wrap*/
}

.input-xs {
  height: 23px;
  max-width:150px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}
/*-----custom control--------*/

/*pc default : 1200*/
@media(min-width:900px) {
	#searchbar { background-color:transparent; }
	/*override class*/
	#navbar ul.nav.navbar-nav { padding-left:80px; } /*adjust menu*/
	.navbar { height:60px; } 
	#navbar {padding-top:0px;}
	
}

/* tables */
@media(min-width:600px) and (max-width:900px){

	#searchbar { display:none;  }
	.navbar-header { padding-left:5px; }
	/*override class*/
	#navbar ul.nav.navbar-nav { padding-left:90px; } /*adjust menu*/
}
/* mobile */
@media(max-width:600px) {

	#searchbar { display:none; }
	.navbar-header { padding-left:10px; }
	#navbar ul.nav.navbar-nav { padding-left:จpx; } /*adjust menu*/

} 
