*.log
lib/Crypto.php
*.ini
*.ini

config/datasource.ini
lib/datasource.ini
images/download/*
images/gallery/*
images/products/*
images/organization/*
images/series/*
images/showroom/*
images/press/*
images/personal/*