.border-circle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    /* width: 36px; */
    /* height: 36px; */
    /* padding: 8px; */
	width: 32px;
    height: 32px;
    padding: 8px;

    background: #666;
	color: #fff;
    border: 2px solid #fff;
	
    text-align: center;
    font: 8px Arial, sans-serif;
}

.remove-item {
	position:relative;
	top:20px;
	 left:-10px; 
	cursor:pointer;
}